@font-face {
    font-family: BebasNeue; /* Гарнитура шрифта */
    src: url("fonts/BebasNeue-Regular.otf"); /* Путь к файлу со шрифтом */
}

body {
    background-color: #fff;
    font-family: BebasNeue, "Arial", sans-serif;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 10px;

    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #3cc395;
}
.btn:hover {
    background-color: #3ac3b0;
    opacity: 0.8;
}


/*------------header------------*/
.container {
    margin: 15px auto;
    max-width: 1010px;
    display: flex;
    justify-content: space-between;
}

.search_form {
    position: relative;
    line-height: 47px;
}
.search_form__input {
    color: #a1a1a1;

    box-sizing: border-box;
    padding: 5px 35px 5px 15px;
    width: 435px;
    height: 33px;
    border: 1px solid #e1e1e1;
}
.search_form__search {
    position: absolute;
    top: 6px;
    right: 9px;
}

.main_header__cart {
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.cart__link {
    display: block;
    position: relative;
}
.cart__link:hover {
    opacity: 0.6;
}
.cart__img {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
}
.cart__price {
    margin: 0;

    line-height: 47px;
    font-size: 33px;
    color: #a1a1a1;
}

.main_header__navigation {
    background-color: #4ccfc1;
}
.main_navigation__list {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;

    background-color: #4ccfc1;
    list-style: none;
}
.main_navigation__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    margin: 8px 0;
    padding-right: 32px;

    border-right: 1px solid #fff;
}
.main_navigation__item:last-child .main_navigation__link{
    border-right: none;
    padding-right: 0;
}
.main_navigation__link:hover {
    text-decoration: underline;
}

/*------------slider------------*/

.main_body__slider {
    background-color: #3ec3b1;
}
.slider__wrapper {
    max-width: 1010px;
    margin: 0 auto;
    padding: 60px 0 40px;

    display: flex;
}
.slide {
    margin-left: 80px;
}
.slide__header {
    color: #fff;
    font-size: 61px;
    line-height: 54px;
    margin: 0;
}
.slide__desc {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 28px;
    color: #ffffff;
}

.slide__btn {
    display: inline-block;
    padding: 8px 22px;

    font-size: 23px;
    line-height: 19px;
    text-decoration: none;
    background-color: #3ec3b1;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 7px;
}
.slide__btn:hover {
    border-color: #afafaf;
    color: #afafaf;
}

/*------------slider_list------------*/

.main_body__slider_list {
    max-width: 1010px;
    margin: 0 auto;
    background-color: #ffffff;
}
.slider_list__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.slider_list__item {
    height: 190px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-right: 60px;
    border-right: 1px solid #e7e7e7;
}
.slider_list__item:last-child{
    border-right: none;
    padding-right: 0;
}
.slider_list__item_desc h3 {
    margin: 0 0 20px 20px;
    font-size: 27px;
    line-height: 25px;
    color: #afafaf;
}
.slider_list__item_desc .btn {
    margin-left: 20px;
}


/*------------featured products------------*/

.featured_products {

}
.featured_products__heading {
    background-color: #3ac3b0;
}
.featured_products__h2 {
    font-size: 31px;
    color: #fff;

    max-width: 1010px;
    margin: 0 auto;
    padding: 20px 0;
}
.featured_products__list {
    margin: 0 auto;
    max-width: 880px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featured_products__item {
    margin-top: 45px;
    display: inline-block;
    width: 254px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-bottom: 5px solid #3cc395;
}
.featured_products__img {
    padding-top: 20px;
}
.item__name {
    margin: 10px 0 12px;
    display: block;
}
.item__name a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #afafaf;
    line-height: 25px;
    font-size: 27px;
}
.item__name h3 {
    margin: 0;
}
.featured_products_price {
    color: #afafaf;
    line-height: 25px;
    font-size: 27px;
    margin-right: 15px;
}


/*------------footer------------*/
.main_footer {
    background-color: #4ccfc1;
    margin-top: 70px;
}
.main_footer__section {
    max-width: 1010px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.main_footer__border {
    border-bottom: 45px solid #2da89b;
}
.main_footer__heading {
    margin-top: 40px;

    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
}

.main_footer__list {
    list-style: none;
    padding: 0;
    margin: 28px 0 35px;
}

.main_footer__link {
    font-family: "Open Sans", "Arial", sans-serif;

    color: #fff;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
}

.main_footer__link:hover {
    text-decoration: underline;
}
